@import './custom-variable.scss';

html, body {
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6,p,span,blockquote,pre,b,u,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,header,footer,article,aside,canvas,details,embed,figure,figcaption,section {
  font-family: $ff-default;
  letter-spacing: -0.01rem;
}

p, div, main, header, nav, article, aside, section, footer {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: $font-color-default;
  
    &:hover, &:focus, &:visited {
      text-decoration: none;
    }
}